<h1>Sessions#create</h1>
 <a href="/auth/facebook" class="auth_provider">        
       Facebook
   </a>

    <a href="/auth/google" class="auth_provider">        
       Facebook
   </a>

    <a href="/auth/twitter" class="auth_provider">        
       Facebook
   </a>

    <a href="/auth/linkedin" class="auth_provider">        
       Facebook
   </a>
