<div>
  Chatting with <%= conversation.with(current_user).try( :name) %>
  <br>
  <em><%= conversation.personal_messages.last.body.truncate(20) %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>

 <%= render partial: "users/background"%>